

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: #213547;
  min-width: 320px;
}



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}



a {
  text-decoration: none;
  color: inherit;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}



button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}



img {
  max-width: 100%;
  display: block;
}